<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>

    <style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.container-fixed {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    height: 100vh; 
    width: 25%; 
    position: absolute; left: 0; background: rgb(205, 214, 212);
    border-radius: 15px;
    margin: auto;
    /* padding-right: 25%; */
    box-sizing: border-box;
}
.row {
    /* max-width: 100%;
    max-height: 100%; */
    /* margin: .5em .5em; */
    width: 80%;
    margin: 1.5em auto;
    padding-top: 2em;
}
#feedback-btn
{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    /* margin: 0 auto; */
    color: #dcfbb4;
    background-color: green;
    border: 0.4em solid #d4f7da;
    /* border-radius: 50%; */
    transition: all 0.3s;
    box-sizing: border-box;
    /* width: 4em; */
    /* height: 4em; */
    /* line-height: 3em; */
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
    /* text-align: center; */
}
#feedback-btn:hover{
    box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
    background-color: #29a074;
  }

  ul li a :hover {
      cursor: pointer;
  }
    </style>
</head>
<body>
    <div class="container-fixed" style="display: flex; flex-direction: column; top: 0;bottom: 0;position: fixed;">
        <div class="row">
            <div class="col-10">
                <div class="" style="background: whitesmoke; height: 69px;">
                    <img src="tezaswi.jpg" style="width: 25%; border-radius: 50%; padding: 4px;">
                    <div class="hedt" style="display: inline-block; width: auto; height: auto;">
                        <h4 class="mb-0">Hi, Reader</h4>
                        <p>Here's your News!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10" >
                <div class="" style="background: whitesmoke; height: 125px;">
                    <h3 style="text-align: center;">View Toggle</h3>
                <div>                     
                <button style="border: none;" routerLink="/"><img src="card-view.png" alt="" style="height: 55px;"></button>
                <button style="border: none;" routerLink="nfeedl"><img src="list-view.png" alt="" style="width: 6em;height: 6.3em;margin-top: -16px;"></button>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-10">
                <div class="" style="background: whitesmoke; ">
                    <h2 style="text-align: center;">Have a Feedback?</h2>
                    <button id="feedback-btn" class="btn btn-primary btn-md btn-block"
                        data-toggle="modal" data-target="#feedbackFormModal"
                    >
                        We are listening
                    </button>
                </div>
            </div>        
        </div>
    </div>
    
    
    <div class="modal fade" id="feedbackFormModal" tabindex="-1" role="dialog" aria-labelledby="feedbackFormModalTitle"
            aria-hidden="true">
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="feedbackFormModalTitle">Thank you so much for taking the time</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <div aria-hidden="true">&times;</div>
                            </button>
                            <h4 style="position: absolute; top: 44px;">Please provide the below details!</h4>
    
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="ufname" name="ufname"
                                        placeholder="John" formControlName="ufname">
                                    <span
                                        *ngIf="feedbackForm.get('ufname') && (feedbackForm.get('ufname').touched||feedbackForm.get('ufname').dirty) && feedbackForm.get('ufname').invalid">
                                        <span *ngIf="feedbackForm.get('ufname').errors.required">
                                            *this field is required...
                                        </span>
                                    </span>
                                </div>
    
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="ulname" name="ulname"
                                        placeholder="Doe" formControlName="ulname">
                                    <span
                                        *ngIf="feedbackForm.get('ulname') && (feedbackForm.get('ulname').touched||feedbackForm.get('ulname').dirty) && feedbackForm.get('ulname').invalid">
                                        <span *ngIf="feedbackForm.get('ulname').errors.required">
                                            *this field is required...
                                        </span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <textarea class="form-control" name="address" id="address" formControlName="address"
                                       placeholder="Enter your full postal address"  cols="30" rows="10" style="height: 6em;">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country" name="country" placeholder="india" formControlName="country">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email id</label>
                                    <input type="text" class="form-control" id="umail" name="umail"
                                        placeholder="Enter the email" formControlName="umail">
                                    <span
                                        *ngIf="feedbackForm.get('umail') && (feedbackForm.get('umail').touched||feedbackForm.get('umail').dirty) && feedbackForm.get('umail').invalid">
                                        <span *ngIf="feedbackForm.get('umail').errors.required">
                                            *this field is required...
                                        </span>
                                        <span *ngIf="feedbackForm.get('umail').errors.email">
                                            *not following email format...
                                        </span>
                                    </span>
                                </div>
    
                                <div class="form-group">
                                    <label for="phonenumber">Phone Number</label>
                                    <input type="tel" class="form-control" name="phonenumber"
                                        placeholder="1234567890" formControlName="phonenumber">
                                    <span  class="alert alert-danger"
                                        *ngIf="feedbackForm.get('phonenumber') && (feedbackForm.get('phonenumber').touched||feedbackForm.get('phonenumber').dirty) && feedbackForm.get('phonenumber').invalid">
                                        <span *ngIf="feedbackForm.get('phonenumber').errors.required">
                                            please enter a valid number
                                        </span>
                
                                        <span *ngIf="feedbackForm.get('phonenumber').errors.pattern">
                                            Please enter a valid number    
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" [disabled]="feedbackForm.invalid">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
</body>
</html>

